.headerDiv {
  background: linear-gradient(to left, #0b132b, #212529);
  margin-block: 30px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
